{% extends "layout.html" %}

{% block pageTitle %}
{{services.data[0].attributes.Title}}
{% endblock %}

{% block main %}

    <div class="masthead">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="/">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="/team/{{services.data[0].attributes.Slug}}">{{services.data[0].attributes.Title}}</a>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">{{services.data[0].attributes.team.data.attributes.Title}}</span>
                    <h1 class="govuk-heading-xl">{{services.data[0].attributes.Title}}</h1>

                    <p>{{services.data[0].attributes.Description}}</p>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
        <main id="main-content">

            <div class="govuk-width-container govuk-!-margin-bottom-9">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Services for the team</h2>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        {% set posts = false%}
                        {% for service in services
                            .data[0]
                            .attributes
                            .services
                            .data %}

                            {% set authSessionKey = 'auth-' + service.attributes.Slug%}

                            {% if not service.attributes.Password %}
                                {% set posts = true%}
                                <h2>
                                    <a href="/{{service.attributes.Slug}}">{{service.attributes.Title}}</a>
                                </h2>
                                <p>{{service.attributes.Description}}</p>

                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                            {% elseif service.attributes.Password and data[authSessionKey] === true%}
                                {% set posts = true%}
                                <h2>
                                    <a href="/{{service.attributes.Slug}}">{{service.attributes.Title}}</a>
                                </h2>
                                <p>{{service.attributes.Description}}</p>

                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                            {% endif %}
                        {% endfor %}

                        {% if posts === false %}

                            <p>The team don't have any published design histories at the moment.</p>

                            {% endif%}
                        </div>

                        <div class="govuk-grid-column-one-third"></div>
                    </div>
                </div>
            </main>

        {% endblock %}

    {% endblock %}